<div class="container">
    <div class="heading">
        <h1>Eggplant dApp</h1>
        <img class="logo" src="../../../assets/images/logo.png" alt="eggplant" />
    </div>
    <div class="social-media-content">
        <ul>
            <li><a href="https://discord.gg/9NJFFgSS"><fa-icon [icon]="faDiscord"></fa-icon></a></li>
            <li><a href="https://twitter.com/gradkov02"><fa-icon [icon]="faTwitter"></fa-icon></a></li>
            <li><a href="https://web.telegram.org/z/#-1334627594"><fa-icon [icon]="faTelegram"></fa-icon></a></li>
            <li><a href="https://github.com/kirilradkov14/Eggplant-Staking"><fa-icon [icon]="faGitHub"></fa-icon></a></li>
        </ul>
    </div>
    <div class="btn-container">
        <div class="btn" (click)="connectAccount()">
            Launch App
        </div>
    </div>
    <div class="info-panel">
        <h2>How it works? </h2>
    </div>
</div>

